body {
    background: url(https://images.unsplash.com/photo-1496957961599-e35b69ef5d7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80) #4F4A40;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial
}

h1 {
    color: white;
    padding-top: 1.5em;
}

ul {
    list-style-type: none;
}